# Datensätze
/data/
/ISIC2017/
/Literature Research/
/pointnet/
/PointNet_/
/img_align_celeba/
/PH2Dataset/

# Modelle
*.pth

# Bilder
*.png

# Python Cache
__pycache__/
*.py[cod]

/current_model/
!current_model/.gitkeep
